API_URL=http://localhost:8000/
USE_GVISOR=false
# Build the docker build -t dafny-gvisor:latest -f Dockerfile.gvisor .
DAFNY_GVISOR_IMAGE=dafny-gvisor:latest
# The following environment variables configure the Docker runtime and resource limits for running Dafny in a container.
DAFNY_DOCKER_RUNTIME=runsc
DAFNY_DOCKER_MEMORY=4g
DAFNY_DOCKER_MEMORY_SWAP=4g
DAFNY_DOCKER_CPUS=0
DAFNY_DOCKER_PIDS_LIMIT=1000
DAFNY_DOCKER_TMPFS_OPTS=rw,exec,size=2g